#container {
    width: 80%;
    height: 80%;
}

table {
    width: 60%;
    height: 60%;
    margin: auto;
    border: 10px solid rgb(32, 159, 209)
}

th {
    border: 1px solid rgb(32, 159, 209);
    width: 7%;
    padding-top: 10%; 
    position: relative;
}





[id^="pos-1"]:nth-child(even),
[id^="pos-3"]:nth-child(even),
[id^="pos-5"]:nth-child(even),
[id^="pos-7"]:nth-child(even),
[id^="pos-2"]:nth-child(odd), 
[id^="pos-4"]:nth-child(odd),
[id^="pos-6"]:nth-child(odd),
[id^="pos-8"]:nth-child(odd){
    background-color: rgb(23, 126, 211);
}